<!-- views/home/gamedetail.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-gamedetail">
   <div class="jumbotron">
    <h1>MEN - 게임정보</h1>
   </div>
  </div>
 </body>
</html>
