<!-- views/home/gamelist.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-gamelist">
   <div class="jumbotron">
    <h1>MEN - 게임목록</h1>
    <div class="row">
      <div class="column">
        <p>신규 게임 목록</p>
      </div>
      <div class="column">
        <p>대기 게임 목록</p>
      </div>
      <div class="column">
        <p>진행 게임 목록</p>
      </div>
    </div>
   </div>
  </div>
 </body>
</html>
